.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.deadlines {
  background-color: #d4e8ec;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 25px;
  position: relative;
}

.deadlines h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.deadlineCards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.calendarBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 13px;
}

.taskTable {
  background-color: #fff;
  padding: 16px;
  border: 1px solid #ccc;
}

.filters {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.filters select {
  padding: 6px 8px;
  border: 1px solid #ccc;
}

.addBtn {
  margin-left: auto;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: #e9e9e9;
}
.priority_high {
  background-color: #ffe5e5;
}

.priority_medium {
  background-color: #fff8dc;
}

.priority_low {
  background-color: #e7fbe7;
}
.doneBtn {
  padding: 4px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
}

.doneBtn:hover {
  background-color: #218838;
}
.heroImageWrapper {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  border-radius: 10px;
}

.pageTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
